#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
  position: absolute;
  top: 315px;
  left: 450px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
  position: absolute;
  top: 315px;
  left: 780px;
}

#canvas {
  display:none;
}

.camera {
  width: 340px;
  display:inline-block;
}

.output {
  width: 340px;
  display:inline-block;
}

#startbutton {
  display:block;
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  bottom:70px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
  top: 85%;
  left: 35%;
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}

div {
  max-width: 2000px;
  height: 800px;

}

.tiledBackground {
  background-image: url(level2.png);
  background-position: center;
  background-size: 1040px;
  background-repeat: no-repeat;
  background-color:#FFFDCE;


}

h2 {
  position: absolute;
  left: 48%;
  top: 147px;
  font-size: 60px
}